p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* ul,
* ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2 {
    text-align: center;
}

.div-img {
    text-align: center;
}
